@media only screen and (max-width: 768px) and (min-width: 375px){

  .certifcation-container{
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .certification-list{
    width: 95%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 5px;
  }

  .certif-hint{
    display: none;
  }

  .certif-hint2{
    display: block;
  }

  .certification-image{
    width: 225px;
    margin: 7px;
  }

  .swing {
  animation: swing 5s ease infinite;
}

  @keyframes swing {
	0%, 100% {transform: translateX(0);}
	10%, 30%, 50%, 70%, 90% {transform: translateX(-4px);}
	20%, 40%, 60%, 80% {transform: translateX(4px);}
}
}